%form{"accept-charset" => "utf-8", :action => "/ingredients/#{@ingredient.id}", :method => "post"}
  %input{:name => "_method", :type => "hidden", :value => "put"}/
  %p
    Name:
    %input{:id => "ingredient[name]", :name => "ingredient[name]", :type => "text", :value => @ingredient.name}/
  %p
    Description:
    %textarea{:cols => "40", :name => "ingredient[description]", :rows => "3"}= @ingredient.description
  %p
    Week
    %input{:id => "ingredient[week]", :name => "ingredient[week]", :type => "text", :value => @ingredient.week}/
  %p
    %input{:type => "submit", :value => "Update ingredient"}/
