<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
  <style type="text/css">
    body {
      width: 384px;
      padding: 0px;
      margin: 0px;
      font-family: Verdana, sans-serif;
    }
    h1 {
      word-wrap: break-word;
    }
    p {
      font-size: 25px;
    }
  </style>
</head>
<body>
	<h1><%= @greeting %></h1>
</body>
</html>
